<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>mycheapfriend.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsers</servlet-name>
        <servlet-class>mycheapfriend.ListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>mycheapfriend.DeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>mycheapfriend.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>mycheapfriend.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartService</servlet-name>
        <servlet-class>mycheapfriend.StartService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrator</servlet-name>
        <servlet-class>mycheapfriend.Administrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopService</servlet-name>
        <servlet-class>mycheapfriend.StopService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disable</servlet-name>
        <servlet-class>mycheapfriend.disable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enable</servlet-name>
        <servlet-class>mycheapfriend.enable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsers</servlet-name>
        <url-pattern>/ListUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/DeleteUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/LoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartService</servlet-name>
        <url-pattern>/StartService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrator</servlet-name>
        <url-pattern>/Administrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopService</servlet-name>
        <url-pattern>/StopService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disable</servlet-name>
        <url-pattern>/disable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enable</servlet-name>
        <url-pattern>/enable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
